
<table>
  <caption>Our Cats</caption>

  <tr>
    <th scope="col">Name</th>
    <th scope="col">Color</th>
    <th scope="col">Age</th>
    <th scope="col">Sex</th>
    <th scope="col">Description</th>
  </tr>
    <th scope="row"><%=@cat.name %> </th>
    <td> <%= @cat.color %></td>
    <td> <%= @cat.age %></td>
    <td> <%= @cat.sex %></td>
    <td> <%= @cat.description %></td>
  <tr>
    <% %>
  </tr>
</table>
<br>
<br>
<br>


<table>
  <caption>Rental Requests</caption>

  <tr>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th scope="col">Status</th>
  </tr>
<% requests = CatRentalRequest.where("cat_rental_requests.cat_id = #{@cat.id}").order(:start_date) %>
<% requests.each do |request| %>
   <tr>
    <td> <%= request.start_date %></td>
    <td> <%= request.end_date %></td>
    <td> <%= request.status %></td>
    <% if request.status == "PENDING"%>
      <form action="<%= approve_cat_rental_request_url(request) %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <td> <input type="submit" value="Approve"> <td>
      </form>
      <form action="<%= deny_cat_rental_request_url(request) %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <td> <input type="submit" value="Deny"> <td>
      </form>
    <% end %>
  </tr>
  <% end %>
</table>

<a href="<%= edit_cat_url(@cat) %>">Edit Cat</a>
<form action="<%= cat_url(@cat) %>" method="post">
 <input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Cat"> 
</form>